.card_grid{
    /* display: grid;
    grid-column-gap: 5px;
    padding: 40px 80px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    grid-column-gap: 5px;
    padding: 0 10px;
    margin-left: 10%; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 75%;
}
